<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Pribadi</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid px-2">
    <a class="navbar-brand" href="#">Aplikasi Data Pribadi</a>
  </div>
</nav>
<div class="container-fluid">
  <div class="text-center"><h2>[[${pageTitle}]]</h2></div>

  <form th:action="@{/edituser/simpan}" method="post" th:object="${data}"
        style="max-width: 500px; margin: 0 auto;">
    <div class="border border-secondary rounded p-3">
      <div class="form-group row">
        <label class="col-form-label">NIK:</label>
        <div class="col-sm-12">
          <input type="text" th:field="*{nik}" class="form-control " readonly minlength="16" maxlength="16"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label">Nama Lengkap:</label>
        <div class="col-sm-12">
          <input type="text" th:field="*{namaLengkap}" class="form-control" required minlength="8" maxlength="45"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label">Tanggal Lahir:</label>
        <div class="col-sm-12">
          <input type="date" onchange="validateDate()" th:field="*{tanggalLahir}" class="form-control" required />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label">Jenis Kelamin:</label>
        <div class="col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" th:field="*{jenisKelamin}" id="radioLaki" value="Laki-laki">
            <label class="form-check-label" for="radioLaki">
              Laki-laki
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" th:field="*{jenisKelamin}" id="radioPerempuan" value="Perempuan">
            <label class="form-check-label" for="radioPerempuan">
              Perempuan
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label">Alamat:</label>
        <div class="col-sm-12">
          <input type="text" th:field="*{alamat}" class="form-control" required minlength="10" maxlength="150" />
        </div>
      </div>
      <div class="form-group row">
        <label for="negara" class="form-label">Negara</label>
        <div class="col-sm-12">
          <select class="form-select" id="negara" name="negara">
            <option selected disabled>Pilih Negara</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Singapura">Singapura</option>
            <option value="Brunei">Brunei</option>
            <option value="Thailand">Thailand</option>
            <option value="Filipina">Filipina</option>
            <option value="Vietnam">Vietnam</option>
            <option value="Kamboja">Kamboja</option>
            <option value="Laos">Laos</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Timor Leste">Timor Leste</option>
            <option value="Lao">Lao</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Korea">Korea</option>
            <option value="Amerika Serikat">Amerika Serikat</option>
            <option value="Kanada">Kanada</option>
            <option value="Britania Raya">Britania Raya</option>
            <option value="Jerman">Jerman</option>
            <option value="Prancis">Prancis</option>
            <option value="Italia">Italia</option>
            <option value="Argentina">Argentina</option>

          </select>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary m-2">Simpan</button>
        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Kembali</button>
      </div>
    </div>

  </form>

</div>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script
    src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
    crossorigin="anonymous"></script>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/}]]";
    }
</script>
<script>
    function validateDate() {
        var selectedDate = new Date(document.getElementById("inputDate").value);
        var today = new Date();

        if(selectedDate > today) {
            alert('Tanggal tidak boleh melebihi hari ini');
            document.getElementById('inputDate').value = "";
        }
    }
</script>
</body>
</html>